In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [3]:
Master_train_name = 'E:/python/train.csv'
test = 'E:/python/test.csv'

cat_train_features = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area', 'Loan_Status']
cat_test_features = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']

master_train = pd.read_csv(Master_train_name,index_col=False)
master_train = master_train[cat_train_features]

test = pd.read_csv(test,index_col=False)
test = test[cat_test_features]

test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [4]:
le=LabelEncoder()

master_train = pd.DataFrame.dropna(master_train)
master_train.select_dtypes(include=[object]).columns.tolist()

test = pd.DataFrame.dropna(test)
test.select_dtypes(include=[object]).columns.tolist()

for x in master_train.select_dtypes(include=[object]).columns.tolist():
    master_train[x] = le.fit_transform(master_train[x])

for y in test.select_dtypes(include=[object]).columns.tolist():
    test[y] = le.fit_transform(test[y])

test

C:\Users\Rithu\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
5,1,1,0,1,1,2165,3422,152.0,360.0,1.0,2
6,0,0,1,1,0,2226,0,59.0,360.0,1.0,1
7,1,1,2,1,0,3881,0,147.0,360.0,0.0,0
9,1,0,0,1,0,2400,2400,123.0,360.0,1.0,1
10,1,0,0,1,0,3091,0,90.0,360.0,1.0,2
14,0,0,0,0,0,4666,0,124.0,360.0,1.0,1
15,1,0,1,0,0,5667,0,131.0,360.0,1.0,2
16,1,1,2,0,0,4583,2916,200.0,360.0,1.0,2
17,1,1,3,0,0,3786,333,126.0,360.0,1.0,1
18,1,1,0,0,0,9226,7916,300.0,360.0,1.0,2
19,1,0,0,0,0,1300,3470,100.0,180.0,1.0,1
20,1,1,1,1,0,1888,1620,48.0,360.0,1.0,2
21,0,0,3,1,0,2083,0,28.0,180.0,1.0,2
23,0,0,0,1,0,3765,0,125.0,360.0,1.0,2
24,1,1,0,0,0,5400,4380,290.0,360.0,1.0,2
25,1,0,0,0,0,0,24000,148.0,360.0,0.0,0
27,1,1,0,0,0,7500,3750,275.0,360.0,1.0,2
29,1,0,0,0,0,2942,2382,125.0,180.0,1.0,2
30,0,0,0,1,0,2478,0,75.0,360.0,1.0,1
31,1,1,2,0,0,6250,820,192.0,360.0,1.0,2
32,1,0,0,0,0,3268,1683,152.0,360.0,1.0,1
33,1,1,0,0,0,2783,2708,158.0,360.0,1.0,2
34,1,1,0,0,0,2740,1541,101.0,360.0,1.0,2
35,1,0,0,0,0,3150,0,176.0,360.0,0.0,1
37,1,1,0,0,1,2267,2792,90.0,360.0,1.0,2
38,1,0,0,0,1,5833,0,116.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
332,0,1,1,1,0,3621,2717,171.0,360.0,1.0,2
333,0,1,0,0,0,4709,0,113.0,360.0,1.0,1
334,1,1,0,0,0,1516,1951,35.0,360.0,1.0,1
335,1,0,2,0,0,2400,0,46.0,360.0,1.0,2
337,1,1,0,0,0,2292,1558,119.0,360.0,1.0,2
338,1,1,1,0,1,2360,3355,87.0,240.0,1.0,0
339,0,0,0,0,0,4333,2333,162.0,360.0,0.0,0
340,1,1,0,0,1,2623,4831,122.0,180.0,1.0,1
341,1,0,0,0,1,3972,4275,187.0,360.0,1.0,0
342,1,1,3,1,0,3522,0,81.0,180.0,1.0,0
343,1,1,1,0,0,4700,0,80.0,360.0,1.0,2
344,1,0,0,0,0,6858,0,176.0,360.0,1.0,0
345,1,1,3,0,0,8334,0,260.0,360.0,1.0,2
346,1,1,0,0,0,3391,1966,133.0,360.0,0.0,0
347,1,0,0,1,0,2868,0,70.0,360.0,1.0,2
348,1,1,2,1,0,3418,1380,135.0,360.0,1.0,2
349,1,1,0,0,1,2500,296,137.0,300.0,1.0,0
350,1,1,2,0,0,8667,0,254.0,360.0,1.0,0
352,1,1,0,0,0,5817,910,109.0,360.0,1.0,2
353,1,1,0,0,0,5119,3769,120.0,360.0,1.0,0
354,1,1,3,1,0,5316,187,158.0,180.0,0.0,1
355,1,1,3,0,0,7603,1213,197.0,360.0,1.0,2
356,1,1,1,0,0,3791,1936,85.0,360.0,1.0,2
357,1,0,0,0,0,2500,0,60.0,360.0,1.0,2
359,1,0,0,0,0,4000,2667,152.0,360.0,1.0,1
361,1,1,1,0,0,2269,2167,99.0,360.0,1.0,1
362,1,1,3,1,1,4009,1777,113.0,360.0,1.0,2
363,1,1,0,0,0,4158,709,115.0,360.0,1.0,2
365,1,1,0,0,0,5000,2393,158.0,360.0,1.0,0
366,1,0,0,0,1,9200,0,98.0,180.0,1.0,0

In [5]:
m_trainx = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']
m_trainx = master_train[m_trainx]

m_trainy = ['Loan_Status']
m_trainy = master_train[m_trainy]

In [6]:
m_x_train,m_x_test,m_y_train,m_y_test=train_test_split(m_trainx,m_trainy,test_size=0.2)

In [21]:
clf = SVC(kernel='rbf', random_state = 0)
scores = cross_val_score(clf,m_x_train,m_y_train,cv=5)
clf.fit(m_x_train,m_y_train)


lr = LogisticRegression()
lr.fit(m_x_train,m_y_train)
m_y_pred = lr.predict(m_x_test)


acc = cross_val_score(estimator = clf , X = m_x_train , y = m_y_train, cv=10)
print(accuracy_score(m_y_test , m_y_pred))

fpredict = lr.predict(test).tolist()

#print(fpredict)

for z in fpredict:

    if z == 0 :
        print("N")
        

    else :
        print("Y")

C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Rithu\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8333333333333334
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
N
Y
Y
Y
Y
N
Y
Y
N
N
Y
N
Y
Y
Y
Y
Y
Y
Y
N
Y
N
Y
N
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
N
Y
Y
Y
N
N
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
N
Y
Y
Y
Y
Y
N
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
N
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
N
Y
Y
Y
Y
N
N
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
N
Y
Y
Y
Y
N
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
N
Y
Y
Y
Y
Y
Y
Y
Y
Y