In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyp
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [20]:
train_name = 'E:/python/train.csv'
test_name = 'E:/python/test.csv'

cat_train_features = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area', 'Loan_Status']
cat_test_features = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']

train = pd.read_csv(train_name,index_col=False)
train = train[cat_train_features]

test = pd.read_csv(test_name,index_col=False)
test = test[cat_test_features]

train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [35]:
le=LabelEncoder()

train = pd.DataFrame.dropna(train)
train.select_dtypes(include=[object]).columns.tolist()

test = pd.DataFrame.dropna(test)
test.select_dtypes(include=[object]).columns.tolist()

for x in train.select_dtypes(include=[object]).columns.tolist():
    train[x] = le.fit_transform(train[x])
    
for y in test.select_dtypes(include=[object]).columns.tolist():
    test[y] = le.fit_transform(test[y])

train.shape

(480, 12)

In [51]:
trainx = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']
trainx = train[trainx]

trainy = ['Loan_Status']
trainy = train[trainy]

testx = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']
testx = test[testx]

trainx

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2
6,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2
7,1,1,3,0,0,3036,2504.0,158.0,360.0,0.0,1
8,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,2
9,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1
10,1,1,2,0,0,3200,700.0,70.0,360.0,1.0,2
12,1,1,2,0,0,3073,8106.0,200.0,360.0,1.0,2
13,1,0,0,0,0,1853,2840.0,114.0,360.0,1.0,0
14,1,1,2,0,0,1299,1086.0,17.0,120.0,1.0,2
15,1,0,0,0,0,4950,0.0,125.0,360.0,1.0,2
17,0,0,0,0,0,3510,0.0,76.0,360.0,0.0,2
18,1,1,0,1,0,4887,0.0,133.0,360.0,1.0,0
20,1,1,0,1,0,7660,0.0,104.0,360.0,0.0,2
21,1,1,1,0,0,5955,5625.0,315.0,360.0,1.0,2
22,1,1,0,1,0,2600,1911.0,116.0,360.0,0.0,1
25,1,1,0,0,1,9560,0.0,191.0,360.0,1.0,1
26,1,1,0,0,0,2799,2253.0,122.0,360.0,1.0,1
27,1,1,2,1,0,4226,1040.0,110.0,360.0,1.0,2
28,1,0,0,1,0,1442,0.0,35.0,360.0,1.0,2
31,1,0,0,0,0,3167,0.0,74.0,360.0,1.0,2
32,1,0,1,0,1,4692,0.0,106.0,360.0,1.0,0
33,1,1,0,0,0,3500,1667.0,114.0,360.0,1.0,1
34,1,0,3,0,0,12500,3000.0,320.0,360.0,1.0,0
37,0,1,0,0,0,3667,1459.0,144.0,360.0,1.0,1
38,1,0,0,0,0,4166,7210.0,184.0,360.0,1.0,2
39,1,0,0,1,0,3748,1668.0,110.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
575,1,1,2,0,0,3159,461.0,108.0,84.0,1.0,2
577,1,0,0,0,0,3229,2739.0,110.0,360.0,1.0,2
578,1,1,1,0,0,1782,2232.0,107.0,360.0,1.0,0
580,1,1,2,0,0,6540,0.0,205.0,360.0,1.0,1
581,1,0,0,0,0,1836,33837.0,90.0,360.0,1.0,2
582,0,1,0,0,0,3166,0.0,36.0,360.0,1.0,1
584,1,1,1,0,0,2787,1917.0,146.0,360.0,0.0,0
585,1,1,1,0,0,4283,3000.0,172.0,84.0,1.0,0
586,1,1,0,0,0,2297,1522.0,104.0,360.0,1.0,2
587,0,0,0,1,0,2165,0.0,70.0,360.0,1.0,1
589,1,1,2,0,1,2726,0.0,106.0,360.0,0.0,1
590,1,1,0,0,0,3000,3416.0,56.0,180.0,1.0,1
591,1,1,2,0,1,6000,0.0,205.0,240.0,1.0,1
593,1,1,0,0,0,3859,3300.0,142.0,180.0,1.0,0
594,1,1,0,0,1,16120,0.0,260.0,360.0,1.0,2
595,1,0,0,1,0,3833,0.0,110.0,360.0,1.0,0
596,1,1,2,1,1,6383,1000.0,187.0,360.0,1.0,0
598,1,1,0,0,1,9963,0.0,180.0,360.0,1.0,0
599,1,1,2,0,0,5780,0.0,192.0,360.0,1.0,2
602,1,1,3,0,0,5703,0.0,128.0,360.0,1.0,2
603,1,0,0,0,0,3676,4301.0,172.0,360.0,1.0,0
604,0,1,1,0,0,12000,0.0,496.0,360.0,1.0,1
606,1,1,1,0,0,3400,2500.0,173.0,360.0,1.0,1
607,1,1,2,1,0,3987,1411.0,157.0,360.0,1.0,0
608,1,1,0,0,0,3232,1950.0,108.0,360.0,1.0,0
609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2
612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2
613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [50]:
lr = LinearRegression()

lr.fit(trainx,trainy)

y_pred = lr.predict(testx)

np.mean(y_pred)

0.6848541090088598